<!DOCTYPE html>
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        
        <meta name="viewport" content="width=device-width initial-scale=1"><meta name="author" content="princely okwuego">
        <meta name="description" content= "To find answers to your inner heart desires, lies with spiritual awakening and 
        this will help you open new horizons for love, money, wealth power - A happy life is here.">
    	<meta name="keywords" content="spiritual, self-discovery, numerology reading, spiritual help and healing, 
    	spiritual counseling, astrology, spiritual awakening.">
    	
    	<script data-ad-client="ca-pub-0990001021600854" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    	<link href="https://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,700&amp;display=swap" rel="stylesheet" />
    	<link href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" rel="stylesheet" />
    	<link href="{{ url_for('static', filename='style-muritum.css') }}" rel="stylesheet" />
    	<title>Ritum49s</title>
    </head>
    <body>
        <header>
            <div class="container container-flex">
                <div class="site-title">
                <h1>Minimis AstroPsychic</h1>
            
                <p class="subtitle">Your Spiritual Counselor</p>
                </div>
                
                <nav>
                    <ul>
                        <li><a href="/index" class="current-page">Home</a></li>
                        <li><a href="">Blogs</a></li>
                        <li><a href="">Profile</a></li>
                        <li>
                            <select name="menu1" id="menu1">
                                <option value="">More</option>
                                <option value="">Login</option>
                                <option value="">Register</option>
                                <option value="">Newuser</option>
                            </select>
                        </li>
                    </ul>
                </nav>
            </div><!--close container-->
        </header>
        <!--close container header-->
        
        <!--close container-->
    
        <div class="container container-flex">
            <main role="main">
                {% block content %}{% endblock %}
            </main>
        
            <aside class="sidebar">
                <div class="sidebar-widget">
                <h2 class="widget-title">About Me</h2>
                <img alt="about me" class="widget-image" src="{{ url_for('static', filename='img/princelyFbook.jpg') }}" />
                <p class="widget-body">I am a Tarot Master, Astrologer, Psychic Visionary and developer. 
                <!--I learned through life experiences and the visions I received from Spirit and 
                Ascended Masters that were assigned to me, which I met through my visions and dreams.--> 
                I find life better, and I&#39;m happier when things are nice and simple. Want more</p>
                <a class="btn btn-accent" href="">0813 676 7311</a></div>
                
        	</aside>
        </div>
        <!-- paste ad here -->
        
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <!--<div><script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51cae2b827410f6d"></script></div>-->
        
        <script type="text/javascript">
             var urlmenu = document.getElementById( 'menu1' );
             urlmenu.onchange = function() {
                  window.open( this.options[ this.selectedIndex ].value );
             };
        </script>
    
        <footer>
            <p><strong>Spiritual counseling will keep your life as simple as possible</strong></p>
            <!--<p>Images are Painting by <a href="https://androidjones.com/" class="article-read-more">Android Jones</a></p>-->
            
            <p>9minimis Copyright 2019 - {{year_now}}</p>
        </footer>
    </body>
</html>