{% extends "base-muritum.html" %}

{% block content %}
<article class="article-featured">
    <h2 class="article-title">Hi, Guest</h2>
	<img src="{{ url_for('static', filename='img/adverchess714x308.jpg') }}" alt="a chess" class="article-image">
	<!--<p class="article-info">September 25, 2019 | 3 comments</p>-->
	<p class="article-body">
	    This is your moment of self-discovery.
        Remember, each life is developed from its own <em>potentials</em> and each of us
        can deal only with the potentials we possess.
        You can only express, at best, the highest level of your own potentials.
        It will not benefit you to compare yourself (or anyone else) with others.
        People have their own potentials and are operating only within those contexts.
        <strong>If a certain time have come into your life when things looks like they are 
        not as you want and "YOU NEED ANSWERS" or may be you want to activate things, that what I will show you how to do. Just call me now to</strong>
        ...<em>discover you potentials now.</em>
    </p>
    <p>To give a hint of what am capable, to learn how this <strong>"YEAR"</strong> will look, check out my <em>event of the year section</em> when you register</p>
    <a href="" class="article-read-more">Call Me Now: 0813 676 7311 | ASK YOUR QUESTION</a>
    
</article>
{% endblock %}